{% extends 'base.html.twig' %}

{% block title %}Feedback for Event{% endblock %}

{% block body %}
    <h1>Feedback for {{ participation.event.name }}</h1>

    {{ form_start(form) }}
        {{ form_row(form.feedback) }}
        {{ form_row(form.submit) }}
    {{ form_end(form) }}
{% endblock %}
