{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
    <h1>Réinitialisation du mot de passe</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}

    <form method="post">
        {{ form_start(form) }}
            {{ form_row(form.email) }}
            {{ form_row(form.submit) }}
        {{ form_end(form) }}
    </form>
{% endblock %}
