{% extends 'base2.html.twig' %}

{% block title %}Modifier le profil{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h2 class="text-center mb-5">Modifier son profil</h2>

        {{ form_start(form, {'attr': {'class': 'col-md-8 mx-auto'}}) }} <!-- Centre le formulaire -->
        
        <div class="form-group mb-2">
            {{ form_label(form.name, 'Nom', {'label_attr': {'class': 'font-weight-bold'}}) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.name) }}
        </div>

        <div class="form-group mb-2">
            {{ form_label(form.familyname, 'Prénom', {'label_attr': {'class': 'font-weight-bold'}}) }}
            {{ form_widget(form.familyname, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.familyname) }}
        </div>

        <div class="form-group mb-2">
            {{ form_label(form.email, 'Email', {'label_attr': {'class': 'font-weight-bold'}}) }}
            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.email) }}
        </div>

        <div class="form-group mb-2">
            {{ form_label(form.numtel, 'Numéro de téléphone', {'label_attr': {'class': 'font-weight-bold'}}) }}
            {{ form_widget(form.numtel, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.numtel) }}
        </div>

        <div class="form-group mb-2">
            {{ form_label(form.adresse, 'Adresse', {'label_attr': {'class': 'font-weight-bold'}}) }}
            {{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.adresse) }}
        </div>
        
      <div class="col-12 mb-3">
        {{ form_label(form.dateNaissance, 'Date de naissance') }}
        {{ form_widget(form.dateNaissance, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.dateNaissance) }}
      </div>

        <div class="form-group mb-2">
            {{ form_label(form.role, 'Rôle', {'label_attr': {'class': 'font-weight-bold'}}) }}
            {{ form_widget(form.role, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.role) }}
        </div>

        <div class="form-group mb-2">
            {{ form_label(form.photo, 'Photo de profil', {'label_attr': {'class': 'font-weight-bold'}}) }}
            {{ form_widget(form.photo, {'attr': {'class': 'form-control-file'}}) }}
            {{ form_errors(form.photo) }}
        </div>

        {% if user.photo %}
            <div class="profile-photo mb-2 text-center">
                <img src="{{ asset('uploads/photos/' ~ user.photo) }}" alt="Photo de profil" class="img-fluid rounded-circle" />
            </div>
        {% endif %}

        <div class="form-group text-center">
            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary w-50'}}) }} <!-- Bouton centré -->
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}
