<div class="container d-flex justify-content-center align-items-center vh-70">
    <div class="card p-4 shadow-lg" style="max-width: 600px; width: 100%;">
        <h2 class="text-center mb-4">Article</h2>
        {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'needs-validation'}}) }}
        
        <div class="mb-3">
            {{ form_label(form.nom) }}
            {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
        </div>
        
        <div class="mb-3">
            {{ form_label(form.description) }}
            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
        </div>
        
        <div class="mb-3">
            {{ form_label(form.prix) }}
            {{ form_widget(form.prix, {'attr': {'class': 'form-control'}}) }}
        </div>
        
        <div class="mb-3">
            {{ form_label(form.nbrearticle) }}
            {{ form_widget(form.nbrearticle, {'attr': {'class': 'form-control'}}) }}
        </div>
        
        <div class="mb-3">
            {{ form_label(form.publiactiondate) }}
            {{ form_widget(form.publiactiondate, {'attr': {'class': 'form-control'}}) }}
        </div>
        
        <div class="mb-3">
            {{ form_label(form.categorie) }}
            {{ form_widget(form.categorie, {'attr': {'class': 'form-select'}}) }}
        </div>
        
        <div class="mb-3">
            {{ form_label(form.image) }}
            {{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}
        </div>
        
        <button class="btn btn-primary w-100 mt-3">{{ button_label|default('Enregistrer') }}</button>
        
        {{ form_end(form) }}
    </div>
</div>
