{# templates/user/change_password.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Changement de mot de passe{% endblock %}

{% block body %}
    <h1>Changer votre mot de passe</h1>

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {{ form_start(form) }}
        {{ form_row(form.currentPassword) }}
        {{ form_row(form.newPassword) }}
        {{ form_row(form.confirmPassword) }}
        {{ form_row(form.submit) }}
    {{ form_end(form) }}
{% endblock %}
