{% extends 'base.html.twig' %}

{% block title %}Profil de {{ user.name }}{% endblock %}

{% block body %}
    <h2>Profil de {{ user.name }}</h2>

    <div class="profile-photo">
        {% if user.photo %}
            <img src="{{ asset('uploads/photos/' ~ user.photo) }}" alt="Photo de profil" />
        {% else %}
            <img src="{{ asset('images/default-profile.jpg') }}" alt="Photo de profil par défaut" />
        {% endif %}
    </div>

    <p>Email : {{ user.email }}</p>
    <p>CIN : {{ user.cin }}</p>
    <p>Téléphone : {{ user.numtel }}</p>
    <p>Adresse : {{ user.adresse }}</p>
    <p>Date de naissance : {{ user.dateNaissance|date('d/m/Y') }}</p>
    <p>Rôle : {{ user.role }}</p>



    <a href="{{ path('app_edit_profile', {id: user.id}) }}" class="btn btn-primary">Modifier mon profil</a>
{% endblock %}
